<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Oops! Something went wrong! 404 error! Not found!</title>
</head>
<body>
<header>
    <div class="welcome mt-1 mb-4">
        <p th:text="'Oops! Something went wrong! 404 error! Not found!'" class="mySticky bg-gray text-dark user"> </p>
        <a class="btn-danger btn" th:href="@{/home}">Back to Home Page</a>
    </div>
</header>
<main>

</main>
<th:block th:replace="~{fragments/footer.html}"></th:block>
</body>
</html>