<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <div class="welcome">
            <h1 th:text="#{app.title}">Welcome to Oolx App</h1>
            <hr class="my-3 bg-white w-50"/>
            <p class="h4" th:text="#{welcome.message}">
                </p>
            <hr class="my-3 bg-white w-75"/>
            <h3>
                <a class="primary-text" href="/login" th:text="#{nav.login}">Login</a>
                <a th:text="#{welcome.messageLogin}"></a>
                <a class="primary-text" href="/register" th:text="#{nav.register}">Register</a>
                <a th:text="#{welcome.messageRegister}"></a>
            </h3>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
