<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="welcome mt-1 mb-4">
        <h3 class="my-users">User Management</h3>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:object="${user}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{|/admin/users/change-username/${user.id}|}" class="btn btn-warning">Change Username</a>
                    <form th:action="@{/admin/users/delete/{id}(id=${user.id})}" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
