<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Oolx App</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav>
        <div class="home">
            <a href="/home">Oolx App</a>
            <a sec:authorize="${isAuthenticated()}" href="/add-product">Add Product</a>
            <a sec:authorize="${isAuthenticated()}" href="/all-products">All Products</a>
            <a sec:authorize="${isAuthenticated()}" href="/my-favorites">My Favorites</a>
            <a sec:authorize="${isAuthenticated()}" href="/messages/contact">Contact </a>
            <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/messages/all-messages">All messages</a>
            <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/admin/users">User Modification</a>
                       <a  href="/about">About</a>
        </div>
        <div class="links">
            <li>
                <a sec:authorize="${!isAuthenticated()}" href="/login">Login</a>
            </li>

            <li>
                <a sec:authorize="${!isAuthenticated()}" href="/register">Register</a>
            </li>


            <li sec:authorize="${isAuthenticated()}">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </li>
        </div>
    </nav>
</header>
<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            &copy; Iliyan 2024. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>